@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-meta-dark: #05050A;
  --color-meta-purple: #3B2F63;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Global Styles */
body {
  margin: 0;
  cursor: none;
  background-color: var(--color-meta-dark);
}

/* Hide cursor on all elements by default */
* {
    cursor: none !important;
}